<% include ../layout/header.ejs %>
<!-- Header End -->

<div id="maincontainer">
  <section id="product">
    <div class="container">      
      <!-- Product Details-->
      <div class="row">
       <!-- Left Image-->
        <div class="span5">
          <ul class="thumbnails mainimage">
            <li class="span5">
              <a  rel="position: 'inside' , showTitle: false, adjustX:-4, adjustY:-4" class="thumbnail cloud-zoom" href="upload/<%= data.img%>">
                <img src="upload/<%= data.img%>" alt="" title="">
              </a>
            </li>
       
          </ul>
       
        </div>
         <!-- Right Details-->
        <div class="span7">
          <div class="row">
            <div class="span7">
              <h1 class="productname"><span class="bgnone"><%= data.name%></span></h1>
              <div class="productprice">
                <div class="productpageprice">
                  <span class="spiral"></span><%= data.price%>$</div>
              </div>
              <ul class="productpagecart">
                <li><a class="cart" href="/add-cart.<%= data._id %>">Thêm vào giỏ</a>
                </li>
              </ul>
         <!-- Product Description tab & comments-->
         <div class="productdesc">
                <ul class="nav nav-tabs" id="myTab">
                  <li class="active"><a href="#description">Thông Số Kỹ Thuật(DataSheet)</a>
                  </li>
              
                </ul>
                <div class="tab-content">
                  <div style="color: #000000">
                        <a href="http://<%= data.des %>">Click vào đây để xem</a>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
  <!--  Related Products-->
  <section id="related" class="row">
    <div class="container">
      <h1 class="heading1"><span class="maintext">Sản Phẩm Khác</span><span class="subtext"> Sản Phẩm Bán Chạy Nhất</span></h1>
      <ul class="thumbnails">
        <% product.forEach(function(pro){ %>

            <li class="span3">
              <a class="prdocutname" href="product.html"> <%= pro.name %> </a>
              <div class="thumbnail">

                <a href="/chi-tiet/<%= pro.nameKhongDau%>.<%= pro._id%>.<%= pro.cateId%>.html"><img alt="" src="upload/<%= pro.img %>"></a>
                <div class="pricetag">
                  <span class="spiral"></span><a href="/add-cart.<%= pro._id %>" class="productcart">Thêm Vào Giỏ</a>
                  <div class="price">
                    <div class="pricenew"><%= pro.price %></div>
                  </div>
                </div>
              </div>
            </li>
      <% })%>

        
      </ul>
    </div>
  </section>
  <!-- Popular Brands-->
</div>

<!-- Footer -->
<% include ../layout/footer.ejs %>